* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
  }
  


  /* Navbar from index */
  .navbar {
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; 
  }
  
  
  .container {
    display: flex;
    background: white;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  
  .column {
    flex: 1;
    padding: 20px;
  }
  
  
  .column img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  
  .column.description {
    font-size: 16px;
  }
  
  
  .column.buying {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .column.buying input[type="number"] {
    width: 60px;
    margin-bottom: 10px;
  }
  
  .column.buying button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .column.buying button:hover {
    background-color: #218838;
  }
  
  /* phone */
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }
  