extends layout

block content
  .container
    h1 About Us
    p we are just three crazy people who had a crazy idea
    
    h2 Our Mission
    p To deliver high-quality, user-focused products that inspire and excite.

    h2 Our Values
    ul
      li Creativity
      li Integrity
      li Customer Happiness

    a(href='/') Back to Home
