//-layout.pug
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title= DreamDestination
  
    // Load Google Fonts
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")

    // Your custom CSS (rename if needed)
    link(rel="stylesheet", href="/styles.css")

  block styles
  body
    script(src="/sessionChecker.js")
    include ./partials/navbar.pug 
    
  block content

