extends layout
block styles
  link(rel="stylesheet", href="/login.css") 

block content

    h1 Login

    form#loginForm(action="/login", method="POST")
      label(for="username") Username:
      input(type="text", id="username", name="username", required)
      br
      br
      label(for="password") Password:
      input(type="password", id="password", name="password", required)
      br
      br
      .buttonContainer
        button(type="submit") Login
      button#newUser(type="button", onclick="window.location.href ='/register'") New user? Click here
    script(src="/loginScript.js")
      