body {
    background-color: #FFFFDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0; 
    padding: 0;

}

#loginForm {
    background-color: #bff1fc;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display:flex;
    justify-content: center;
    width: 100%;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffcfef;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #be669f;
  }


.top-nav {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo { 
  font-weight: 700; 
  font-size: 20px; 
  order: 1; 
}
.logo img { 
  max-height: 40px; 
}


.search-bar {
  flex: 1 1 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  order: 3; 
}
.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 0;
  outline: 0;
}


.cart { 
  font-size: 24px; 
  cursor: pointer; 
  order: 2; 
}
.cart img { 
  height: 24px; 
}


.sign-in {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  order: 2; 
}
.sign-in a { 
  text-decoration: none; 
  color: inherit; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.sign-in p { 
  margin: 0; 
  line-height: 1.2; 
}

/* Ensure buttons and icons look tidy */
.menu-btn,
.icons button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.logo img {
    max-height: 40px;
}

/* Ensure icons on the right are spaced properly */
.icons {
    display: flex;
    gap: 10px;
}

